<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.caipiao.analysis.mapper.RoleMapper">
   <resultMap id="BaseResultMap" type="com.fly.caipiao.analysis.entity.Role" >
       <id column="id" property="id" />
       <result column="name" property="name"/>
       <result column="sort" property="sort"/>
       <result column="desc" property="desc"/>
       <result column="status_flag" property="statusFlag"/>
   </resultMap>
    <select id="getRoleStringByUserId" resultType="java.lang.String">
        select r.name from role r join user_role ur on r.id = ur.role_id
        where ur.user_id = #{id} and ur.status_flag = 0 and r.status_flag = 0
    </select>

    <select id="getById" resultType="com.fly.caipiao.analysis.entity.Role">
        select id,`name` from role where
        where id = #{id}
    </select>

    <select id="list" resultType="com.fly.caipiao.analysis.entity.Role">
        select id,`name`,`desc` from role where
        status_flag = 1;
    </select>

</mapper>
