<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.caipiao.analysis.mapper.LogFileMapper">
   <resultMap id="BaseResultMap" type="com.fly.caipiao.analysis.entity.LogFile" >
       <id column="id" property="id" />
       <result column="name" property="name"/>
       <result column="size" property="size"/>
       <result column="create_time" property="createTime"/>
   </resultMap>

    <insert id="insert">
        insert into log_file (`name`,`size`)
        values (#{name},#{size})
    </insert>

    <select id="list" resultType="com.fly.caipiao.analysis.entity.LogFile">
        select id,`name`,`size`,create_time
        from `log_file` where 1 = 1
        <if test="sSearch!=null and sSearch.length() > 0" >
            and `name` like concat('%',#{sSearch},'%')
        </if>
    </select>

    <select id="queryByName" resultType="java.lang.Integer">
        select count(1) from log_file where `name` = #{name}
    </select>

</mapper>
