<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" style="height: 100%">

<head th:include="common_css :: common_head('主页')">
    <!-- Morris Charts CSS -->
    <link href="../sb/vendor/morrisjs/morris.css" rel="stylesheet">

</head>

<body style="height: 100%">

    <div id="wrapper" style="height: 100%">

        <!-- template -->
        <div th:include="common :: copy"></div>

        <div id="page-wrapper" style="height: 95%">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">统计图表</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" style="height: 80%">
                <div class="col-lg-12" style="height: 100%">
                    <div class="panel panel-default" style="height: 100%">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 推广总统计
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        切换
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" name="dropdown-menu1">
                                        <li><a href="#">按天统计</a>
                                        </li>
                                        <li><a href="#">按月统计</a>
                                        </li>
                                        <!--<li><a href="#">Something else here</a>-->
                                        <!--</li>-->
                                        <!--<li class="divider"></li>-->
                                        <!--<li><a href="#">Separated link</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 93.5%">
                            <div id="line-chart" style="height: 100%"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div th:include="common_js :: common_foot"></div>
    <!-- Morris Charts JavaScript -->
    <!--<script src="../sb/vendor/raphael/raphael.min.js"></script>-->
    <!--<script src="../sb/vendor/morrisjs/morris.min.js"></script>-->
    <script src="../js/echarts/echarts.common.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>
