<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../sb/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../sb/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../sb/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../sb/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../sb/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/screen.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../sb/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- template -->
    <div th:include="common :: copy"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户设置</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="panel-body">
                <!-- Button trigger modal -->
                <button id="myModalBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                    新建
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <form id="userAddForm" role="form">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input name="id" id="id" type="text">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">用户名<strong class="red vam"> *</strong></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="username" id="username" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">手机号</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="cellphone" id="cellphone" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><strong class="red vam"> 注*   </strong>默认密码 123456a </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="addSave">保存</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </form>

                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        修改密码
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" id="updatePwdForm">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>旧密码</label>
                                            <input class="form-control" id="oldPassword" name="oldPassword"
                                                   type="password" required>
                                        </div>
                                        <div class="form-group">
                                            <label>新密码</label>
                                            <input class="form-control" id="password" name="password" type="password"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>重复密码</label>
                                            <input class="form-control" id="confirmPassword" name="confirmPassword"
                                                   type="password" required>
                                        </div>

                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button id="pwdSave" type="button" class="btn btn-default">提交</button>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../sb/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../sb/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../sb/vendor/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../sb/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../sb/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../sb/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../sb/dist/js/sb-admin-2.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/userPwd.js"></script>
<script src="../js/layer/layer.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->

</body>

</html>
