<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="common_css :: common_head('用户管理')">

</head>

<body>

<div id="wrapper">

    <!-- template -->
    <div th:include="common :: copy"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户设置</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="panel-body">
                <!-- Button trigger modal -->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="myModalBtn" class="btn btn-primary pull-right" data-toggle="modal"
                            data-target="#myModal">新建
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <form id="userAddForm" role="form">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input name="id" id="id" type="text" hidden>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">用户名<strong class="red vam"> *</strong></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="username" id="username" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-form-label">角色</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="role" id="optionsRadiosInline1" value="1" checked>管理员
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="role" id="optionsRadiosInline2" value="2">普通用户
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">手机号</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="cellphone" id="cellphone" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><strong class="red vam"> 注*   </strong>默认密码 123456a </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="addSave">保存</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </form>

                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        用户列表
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="userTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>用户名</th>
                                <th>手机号</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:include="common_js :: common_foot"></div>

<script src="../js/jquery.validate.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/user.js"></script>
<script src="../js/layer/layer.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->

</body>

</html>
