<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fly.caipiao.analysis.mapper.DataLogMapper">
   <resultMap id="BaseResultMap" type="com.fly.caipiao.analysis.entity.DataLog" >
       <id column="id" property="id" />
       <result column="ip" property="ip"/>
       <result column="referer" property="referer"/>
       <result column="target_url" property="targetUrl"/>
       <result column="date_time" property="dateTime"/>
   </resultMap>

    <insert id="insert">
        insert into data_log(ip,referer,target_url,date_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.ip},#{item.referer},#{item.targetUrl},#{item.dateTime})
        </foreach>
    </insert>

    <select id="list" resultType="com.fly.caipiao.analysis.entity.AdminUser">
        select *
        from data_log
    </select>

</mapper>
